body {color:#ffffff;margin:0;}
#header {background-color:#b22222;height:200px;line-height:150px;}
#header a{color:white;text-decoration:none;text-transform:uppercase;letter-spacing:0.1em;}
#header a:hover{color:#222;}
#location{display:block;position:absolute;top:25px;left:55px;}
#location li{display:grid;padding-left:15px;font-weight:bold;line-height:2;
font-size:14pt}
#header img {height:200px;width:500px;margin-left:500px;}
#hours p {line-height:1.5;letter-spacing:0.1em;text-transform:uppercase;
  position:absolute;top:0;right:0;margin-right:100px;font-weight:bold;}
#subheader{background-color:gray;position:absolute;top:200px;left:0;right:0;max-height:45px;}
#header-nav a{color:white;text-decoration:none;}
#header-nav a:hover{color:#222}
#header-nav li{color:white;display:inline;text-transform:uppercase;letter-spacing:0.1em;
  padding-left:175px;font-size:12pt;font-weight:bold;}
#item{color:black;display:grid;letter-spacing:0.1em;line-height:3;
position:absolute;top:80px;left:423px;text-transform: uppercase;font-weight:bold;
list-style:none;font-size:14pt;h}
#price{color:black;display:grid;letter-spacing:0.1em;line-height:3;
  position:absolute;top:80px;right:450px;font-weight:bold;list-style:none;
font-size:14pt;}
#menu img{height:900px;width:1519px;position:absolute;top:45px;z-index:-1;}
#menu p{color:black;background-color:white;max-width:800px;font-size:14pt;font-weight:bold;margin-left:400px}
#price{color:black;background-color:white;}
#item{background-color:white;}
#footer{background-color:#191970;position:absolute;bottom:-500px;left:0;right:0;}
#footer img {height:20px;width:20px;}
#footer li{display:inline;color:white;font-size:18pt;text-transform:uppercase;text-decoration:none;}
#facebook a{color:white;text-transform:uppercase;text-decoration:none;}
#instagram a{color:white;text-transform:uppercase;text-decoration:none;}
#footer a:hover{color:#222}
#book a{position:absolute;bottom:35px;left:600px;font-size:18pt;color:white;text-decoration: none;text-transform: uppercase;}
#adress a:hover{color:#222}
#adress a{color:white;text-decoration:none;}
#adress p{font-size:17pt;line-height:1;letter-spacing:0.1em;text-transform:uppercase;
  position:absolute;top:-20px;right:0;margin-right:100px;font-weight:bold;}
#dennis img:hover + .a{visibility:visible;}
#kenny img:hover + .c{visibility:visible;}
#lucas img:hover + .d{visibility:visible;}
#bbs img:hover + .b{visibility:visible;}
h4.a:hover + .a{visibility: visible;}
h4{visibility:hidden;color:black;background-color:white;padding:10px}
.a{position:absolute;left:620PX;}
.b{position:absolute;right:300px;top:500px;}
.c{position:absolute;right:300px;}
.d{position:absolute;left:335px;top:500px}
